# **Data Exploration**

#### Add Project Root to Path
Adds the project root to Python's path so we can import modules like src.config when running notebooks inside subfolders (e.g., notebooks/).

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys

project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.insert(0, project_root)
project_root

'e:\\My Projects\\Saudi Retail Data ETL Pipeline'

In [3]:
from src.loaders.config_loader import get_config
config = get_config()
config

{'data': {'raw_dir': '../data/raw/saudi_store_sales_dataset.csv',
  'processed_dir': '../data/processed'},
 'spark': {'master': 'local[*]',
  'app_name': 'Retail ETL Pipeline',
  'configs': {'spark.sql.shuffle.partitions': 200}},
 'general': {'log_level': 'INFO',
  'feature_flags': {'use_new_preprocessor': False}}}

#### Load Data

In [4]:
from src.loaders.load_data import DataLoader

app_name = config['spark']['app_name']
path = config['data']['raw_dir']

loader = DataLoader('spark')
df_spark = loader.load_data(path=path, file_type='csv', header=True, inferSchema=True)

Loading CSV file from: ../data/raw/saudi_store_sales_dataset.csv

In [5]:
from src.exploration.explore_data import DataExplorer

explorer = DataExplorer(df_spark)
print("Is Spark DataFrame?:", explorer.is_spark)
print("DataFrame loaded successfully.")

Is Spark DataFrame?: True
DataFrame loaded successfully.

In [6]:
explorer.explore_data_with_spark(schema=True)

root
 |-- Invoice Date: string (nullable = true)
 |-- Invoice ID: string (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer Gender: string (nullable = true)
 |-- Employee Name: string (nullable = true)
 |-- Manager Name: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- Customer Satisfaction: string (nullable = true)
 |-- Total Sales: integer (nullable = true)

In [7]:
explorer.explore_data_with_spark(overview=True)

Rows: 49998, Columns: ['Invoice Date', 'Invoice ID', 'Customer Type', 'Customer Name', 'City', 'Customer Gender', 'Employee Name', 'Manager Name', 'Product Name', 'Product Category', 'Channel', 'Customer Satisfaction', 'Total Sales']

In [8]:
explorer.explore_data_with_spark(summary=True)

+-------+------------+----------+---------------+----------------+---------------+---------------+--------------------+-------------+----------------+----------------+-------+---------------------+------------------+
|summary|Invoice Date|Invoice ID|  Customer Type|   Customer Name|           City|Customer Gender|       Employee Name| Manager Name|    Product Name|Product Category|Channel|Customer Satisfaction|       Total Sales|
+-------+------------+----------+---------------+----------------+---------------+---------------+--------------------+-------------+----------------+----------------+-------+---------------------+------------------+
|  count|       49998|     49998|          49998|           49998|          49998|          49998|               49998|        49998|           49998|           49998|  49998|                49998|             49998|
|   mean|        NULL|      NULL|           NULL|            NULL|           NULL|           NULL|                NULL|         NULL|            NULL|            NULL|   NULL|                 NULL|  1973.11878475139|
| stddev|        NULL|      NULL|           NULL|            NULL|           NULL|           NULL|                NULL|         NULL|            NULL|            NULL|   NULL|                 NULL|2048.0091336601586|
|    min|    1/1/2020|      ID-1| Loyal Customer|Abdullah Alomary|      Al Khobar|         Female|Abdullateif AlKha...|  Hany Higazi|     4K Dash Cam|      Automotive| OnLine|                 High|                22|
|    25%|        NULL|      NULL|           NULL|            NULL|           NULL|           NULL|                NULL|         NULL|            NULL|            NULL|   NULL|                 NULL|               354|
|    50%|        NULL|      NULL|           NULL|            NULL|           NULL|           NULL|                NULL|         NULL|            NULL|            NULL|   NULL|                 NULL|               958|
|    75%|        NULL|      NULL|           NULL|            NULL|           NULL|           NULL|                NULL|         NULL|            NULL|            NULL|   NULL|                 NULL|              3306|
|    max|    9/9/2023|  ID-99997|Retail Customer|    Zoza Mohamed|Wadi ad Dawasir|           Male|       Yasmina Fouad|Mohamed Allam|Wireless Earbuds| Women'S Fashion|  Store|             Very Low|              9700|
+-------+------------+----------+---------------+----------------+---------------+---------------+--------------------+-------------+----------------+----------------+-------+---------------------+------------------+

In [9]:
explorer.explore_data_with_spark(nulls=True)

+------------+----------+-------------+-------------+----+---------------+-------------+------------+------------+----------------+-------+---------------------+-----------+
|Invoice Date|Invoice ID|Customer Type|Customer Name|City|Customer Gender|Employee Name|Manager Name|Product Name|Product Category|Channel|Customer Satisfaction|Total Sales|
+------------+----------+-------------+-------------+----+---------------+-------------+------------+------------+----------------+-------+---------------------+-----------+
|           0|         0|            0|            0|   0|              0|            0|           0|           0|               0|      0|                    0|          0|
+------------+----------+-------------+-------------+----+---------------+-------------+------------+------------+----------------+-------+---------------------+-----------+

In [10]:
explorer.explore_data_with_spark(duplicates=True)

Duplicate Rows: 0

In [11]:
explorer.explore_data_with_spark(value_counts=True)

--- Invoice Date ---
+------------+-----+
|Invoice Date|count|
+------------+-----+
|  11/12/2023|   59|
|    8/1/2020|   53|
|   6/25/2023|   53|
|   10/7/2020|   52|
|    7/3/2020|   52|
|  12/27/2020|   51|
|    8/2/2021|   51|
|   8/20/2020|   50|
|   2/27/2020|   50|
|    7/3/2023|   50|
|   5/15/2022|   49|
|  12/30/2021|   49|
|    3/4/2021|   49|
|   9/15/2022|   49|
|   7/30/2022|   49|
|   5/22/2020|   48|
|  10/22/2020|   48|
|    6/9/2021|   48|
|  11/15/2022|   48|
|    8/3/2021|   48|
+------------+-----+
only showing top 20 rows


--- Invoice ID ---
+----------+-----+
|Invoice ID|count|
+----------+-----+
| ID-242374|    1|
|  ID-88813|    1|
| ID-306624|    1|
|  ID-72919|    1|
|  ID-61245|    1|
|   ID-1038|    1|
| ID-198702|    1|
| ID-297519|    1|
| ID-458725|    1|
| ID-158345|    1|
| ID-101394|    1|
| ID-153240|    1|
| ID-346847|    1|
| ID-170627|    1|
| ID-340587|    1|
| ID-219963|    1|
| ID-141305|    1|
| ID-138569|    1|
| ID-447967|    1|
| ID-255037|    1|
+----------+-----+
only showing top 20 rows


--- Customer Type ---
+---------------+-----+
|  Customer Type|count|
+---------------+-----+
| Loyal Customer|24865|
|Retail Customer|16739|
|   New Customer| 8394|
+---------------+-----+


--- Customer Name ---
+-------------------+-----+
|      Customer Name|count|
+-------------------+-----+
|      Maisoun Kamal| 3040|
|      Abeer Mohamed| 2649|
|      Zenab Elsayad| 2451|
| Hassan Abdelrahman| 2444|
|      Essam Elsayad| 2442|
|    Amal Abdelfatah| 2436|
|      Mahmoud Kamal| 2415|
|       Amal Mohamed| 2401|
|   Azza Abdelrahman| 2400|
|      Maram Mohamed| 2011|
|     Mahmoud Raslan| 1972|
|       Taleb Aldris| 1893|
|Mostafa Almohammady| 1892|
|        Ahmed Ezzat| 1884|
|   Abdullah Alomary| 1865|
|     Mahmoud Khairy| 1825|
|       Ahmed Yousef| 1810|
|      Mostafa Fawzy| 1797|
|       Berry Hassan| 1764|
|         Hala Ahmed| 1762|
+-------------------+-----+
only showing top 20 rows


--- City ---
+---------------+-----+
|           City|count|
+---------------+-----+
|         Riyadh| 6901|
|         Medina| 5480|
|          Tabuk| 5429|
|       Buraydah| 5241|
|         Jeddah| 4548|
| Hafar Al Batin| 4239|
|          Mecca| 3992|
|Wadi ad Dawasir| 3420|
|           Arar| 3227|
|         Najran| 3020|
|      Al Khobar| 2920|
|          AlUla| 1581|
+---------------+-----+


--- Customer Gender ---
+---------------+-----+
|Customer Gender|count|
+---------------+-----+
|           Male|27353|
|         Female|22645|
+---------------+-----+


--- Employee Name ---
+--------------------+-----+
|       Employee Name|count|
+--------------------+-----+
|Abdullateif AlKha...| 9401|
|        Alaa Khalifa| 9224|
|         Ayman Kamal| 8305|
|       Yasmina Fouad| 8244|
|    Mohamed Musallam| 7680|
|           Sara Adel| 7144|
+--------------------+-----+


--- Manager Name ---
+-------------+-----+
| Manager Name|count|
+-------------+-----+
|Mohamed Allam|25325|
|  Hany Higazi|24673|
+-------------+-----+


--- Product Name ---
+--------------------+-----+
|        Product Name|count|
+--------------------+-----+
|     Half-Zip Hooded|  629|
|    Softside Luggage|  627|
|   Half Zip Pullover|  622|
|    Digger Megalodon|  621|
|Skinactive Micell...|  616|
|  Original Fit Jeans|  613|
|      Quilted Jacket|  611|
|  Heavyweight Jacket|  610|
| Air Compressor Tire|  610|
|   Carry On Foldable|  608|
|      Remote Control|  606|
|     Christmas Shirt|  605|
|  Toddler Little Boy|  602|
|Water-Resistant H...|  600|
|  Daily Scented Balm|  596|
|   Boys' Long Sleeve|  596|
|     4K Dash Cam Gps|  594|
|      Orthopedic Bed|  593|
|      Gaming Headset|  593|
|          Mouse Lilo|  591|
+--------------------+-----+
only showing top 20 rows


--- Product Category ---
+--------------------+-----+
|    Product Category|count|
+--------------------+-----+
|Beauty And Person...| 5594|
|      Girls' Fashion| 5526|
|       Boys' Fashion| 5262|
|       Men'S Fashion| 5110|
|     Women'S Fashion| 5062|
|          Automotive| 5053|
|      Toys And Games| 4805|
|        Pet Supplies| 4793|
|             Luggage| 4485|
|         Electronics| 4308|
+--------------------+-----+


--- Channel ---
+-------+-----+
|Channel|count|
+-------+-----+
| OnLine|33242|
|  Store|16756|
+-------+-----+


--- Customer Satisfaction ---
+---------------------+-----+
|Customer Satisfaction|count|
+---------------------+-----+
|                 High|16783|
|                   Ok|13209|
|            Very High| 9930|
|                  Low| 6779|
|             Very Low| 3297|
+---------------------+-----+


--- Total Sales ---
+-----------+-----+
|Total Sales|count|
+-----------+-----+
|        312|  294|
|        504|  283|
|        520|  281|
|        416|  275|
|        104|  274|
|        441|  261|
|        252|  239|
|        630|  236|
|        208|  235|
|        432|  229|
|        378|  226|
|        288|  212|
|        420|  203|
|        126|  198|
|        336|  196|
|        294|  193|
|        144|  186|
|        588|  179|
|        720|  174|
|        168|  173|
+-----------+-----+
only showing top 20 rows