## **Data Wrangling**

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.insert(0, project_root)  # This will auto-load the project path

In [3]:
from src.loaders.load_data import DataLoader
from src.loaders.config_loader import get_config

config = get_config()
loader = DataLoader()
df = loader.load_data(config['data']['raw_dir'])

Loading CSV file from: ../data/raw/saudi_store_sales_dataset.csv

In [4]:
from src.wranglers.dynamic_wrangler_selecter import get_wrangler  # create this function
wrangler = get_wrangler(df)

Using Spark DataFrame wrangler

In [5]:
wrangler = wrangler.clean_and_preprocess()

Starting Data Cleaning and Preprocessing...
Dropped columns: ['Invoice ID', 'Customer Type', 'Customer Name', 'Customer Gender', 'Employee Name', 'Product Name', 'Manager Name', 'Channel', 'Customer Satisfaction']
Current columns: ['Invoice Date', 'City', 'Product Category', 'Total Sales']
 Missing values handled
 Duplicates removed: 51 rows dropped
 Whitespace trimmed in 'City' and 'Category'
 Converted text to lowercase for 'City' and 'Product Category'
 Removed special characters from 'City' and 'Product Category'
 Final DataFrame schema:
root
 |-- Invoice Date: string (nullable = true)
 |-- City: string (nullable = false)
 |-- Product Category: string (nullable = false)
 |-- Total Sales: integer (nullable = true)

Total Rows: 49947 | Total Columns: 4
 Data Cleaning and Preprocessing Complete!

In [6]:
wrangler.df.show(5)

+------------+---------------+----------------+-----------+
|Invoice Date|           City|Product Category|Total Sales|
+------------+---------------+----------------+-----------+
|    1/4/2020|          mecca|    boys fashion|        195|
|    1/7/2020|         riyadh|  womens fashion|       3045|
|   1/18/2020|wadi ad dawasir|    pet supplies|        552|
|   1/24/2020|          tabuk|    boys fashion|        204|
|    2/6/2020|         riyadh|         luggage|       6806|
+------------+---------------+----------------+-----------+
only showing top 5 rows

In [7]:
wrangler = wrangler.validate_schema()

In [8]:
wrangler.df.show(5)

+------------+---------------+----------------+-----------+
|Invoice Date|           City|Product Category|Total Sales|
+------------+---------------+----------------+-----------+
|    1/4/2020|          mecca|    boys fashion|      195.0|
|    1/7/2020|         riyadh|  womens fashion|     3045.0|
|   1/18/2020|wadi ad dawasir|    pet supplies|      552.0|
|   1/24/2020|          tabuk|    boys fashion|      204.0|
|    2/6/2020|         riyadh|         luggage|     6806.0|
+------------+---------------+----------------+-----------+
only showing top 5 rows

In [9]:
wrangler = wrangler.detect_and_handle_outliers()

Detecting outliers for column 'Total Sales':
   Lower Bound: -3429.0, Upper Bound: 6723.0
   Outliers detected: 1516
 Outliers handled for column 'Total Sales'.

In [10]:
wrangler.df.show(5)

+------------+---------------+----------------+-----------+
|Invoice Date|           City|Product Category|Total Sales|
+------------+---------------+----------------+-----------+
|    1/4/2020|          mecca|    boys fashion|      195.0|
|    1/7/2020|         riyadh|  womens fashion|     3045.0|
|   1/18/2020|wadi ad dawasir|    pet supplies|      552.0|
|   1/24/2020|          tabuk|    boys fashion|      204.0|
|    2/6/2020|         riyadh|         luggage|     6723.0|
+------------+---------------+----------------+-----------+
only showing top 5 rows

In [11]:
wrangler = wrangler.aggregate_for_forecasting()

+---------------+----------+-----------------+
|City           |Week Start|City Weekly Sales|
+---------------+----------+-----------------+
|mecca          |2019-12-30|25070.0          |
|alula          |2019-12-30|15265.0          |
|buraydah       |2019-12-30|46717.0          |
|hafar al batin |2019-12-30|30144.0          |
|medina         |2019-12-30|46691.0          |
|wadi ad dawasir|2019-12-30|28302.0          |
|riyadh         |2019-12-30|51725.0          |
|arar           |2019-12-30|13390.0          |
|tabuk          |2019-12-30|64394.0          |
|najran         |2019-12-30|23524.0          |
|jeddah         |2019-12-30|32675.0          |
|al khobar      |2019-12-30|12737.0          |
|al khobar      |2020-01-06|14225.0          |
|najran         |2020-01-06|39851.0          |
+---------------+----------+-----------------+
only showing top 14 rows

+------------------------+----------+---------------------+
|Product Category        |Week Start|Category Weekly Sales|
+------------------------+----------+---------------------+
|electronics             |2019-12-30|25512.0              |
|girls fashion           |2019-12-30|56176.0              |
|womens fashion          |2019-12-30|40678.0              |
|automotive              |2019-12-30|37831.0              |
|beauty and personal care|2019-12-30|43789.0              |
|boys fashion            |2019-12-30|62376.0              |
|toys and games          |2019-12-30|22414.0              |
|pet supplies            |2019-12-30|27436.0              |
|luggage                 |2019-12-30|43511.0              |
|mens fashion            |2019-12-30|30911.0              |
|womens fashion          |2020-01-06|57875.0              |
|automotive              |2020-01-06|18511.0              |
|beauty and personal care|2020-01-06|62734.0              |
|electronics             |2020-01-06|34470.0              |
+------------------------+----------+---------------------+
only showing top 14 rows

+----------+--------------+-----------+------------------+-----------------+
|Week Start|City          |Total Sales|Average Sales     |Transaction Count|
+----------+--------------+-----------+------------------+-----------------+
|2019-12-30|riyadh        |51725.0    |1989.423076923077 |26               |
|2019-12-30|hafar al batin|30144.0    |1884.0            |16               |
|2019-12-30|al khobar     |12737.0    |1157.909090909091 |11               |
|2019-12-30|jeddah        |32675.0    |1815.2777777777778|18               |
|2019-12-30|mecca         |25070.0    |1790.7142857142858|14               |
+----------+--------------+-----------+------------------+-----------------+
only showing top 5 rows

+----------+----------------+-----------+------------------+-----------------+
|Week Start|Product Category|Total Sales|Average Sales     |Transaction Count|
+----------+----------------+-----------+------------------+-----------------+
|2019-12-30|girls fashion   |56176.0    |2340.6666666666665|24               |
|2019-12-30|toys and games  |22414.0    |1724.1538461538462|13               |
|2019-12-30|electronics     |25512.0    |2126.0            |12               |
|2019-12-30|automotive      |37831.0    |1513.24           |25               |
|2019-12-30|boys fashion    |62376.0    |2599.0            |24               |
+----------+----------------+-----------+------------------+-----------------+
only showing top 5 rows

In [12]:
wrangler.df.show(5)

+------------+---------------+----------------+-----------+-------------------+
|Invoice Date|           City|Product Category|Total Sales|         Week Start|
+------------+---------------+----------------+-----------+-------------------+
|  2020-01-04|          mecca|    boys fashion|      195.0|2019-12-30 00:00:00|
|  2020-01-07|         riyadh|  womens fashion|     3045.0|2020-01-06 00:00:00|
|  2020-01-18|wadi ad dawasir|    pet supplies|      552.0|2020-01-13 00:00:00|
|  2020-01-24|          tabuk|    boys fashion|      204.0|2020-01-20 00:00:00|
|  2020-02-06|         riyadh|         luggage|     6723.0|2020-02-03 00:00:00|
+------------+---------------+----------------+-----------+-------------------+
only showing top 5 rows

In [13]:
wrangler = wrangler.run_quality_checks()

Null Counts:
+------------+----+----------------+-----------+----------+
|Invoice Date|City|Product Category|Total Sales|Week Start|
+------------+----+----------------+-----------+----------+
|           0|   0|               0|          0|         0|
+------------+----+----------------+-----------+----------+

Data Types:
Invoice Date: Expected=date, Actual=DateType()
City: Expected=string, Actual=StringType()
Product Category: Expected=string, Actual=StringType()
Total Sales: Expected=float, Actual=DoubleType()

 Checking for Negative or Zero Sales:
+------------+----+----------------+-----------+----------+
|Invoice Date|City|Product Category|Total Sales|Week Start|
+------------+----+----------------+-----------+----------+
+------------+----+----------------+-----------+----------+


 Checking for Duplicates:
Found 6 duplicate rows.
+------------+---------+----------------+-----------+-------------------+-----+
|Invoice Date|     City|Product Category|Total Sales|         Week Start|count|
+------------+---------+----------------+-----------+-------------------+-----+
|  2020-10-09|al khobar|  womens fashion|     6723.0|2020-10-05 00:00:00|    2|
|  2020-04-03|   jeddah|  womens fashion|     6723.0|2020-03-30 00:00:00|    2|
|  2023-10-03|    mecca|  womens fashion|     6723.0|2023-10-02 00:00:00|    2|
|  2023-01-06|    tabuk|    mens fashion|     6723.0|2023-01-02 00:00:00|    2|
|  2021-01-11|     arar|  womens fashion|     6723.0|2021-01-11 00:00:00|    2|
|  2023-08-09|    mecca|  womens fashion|     6723.0|2023-08-07 00:00:00|    2|
+------------+---------+----------------+-----------+-------------------+-----+


 Date Continuity Check:
+------------+
|Invoice Date|
+------------+
|  2020-01-01|
|  2020-01-01|
|  2020-01-01|
|  2020-01-01|
|  2020-01-01|
+------------+
only showing top 5 rows


 City Names Check:
+---------------+
|           City|
+---------------+
|           arar|
|         riyadh|
|          tabuk|
| hafar al batin|
|         jeddah|
|         najran|
|          mecca|
|       buraydah|
|wadi ad dawasir|
|         medina|
|          alula|
|      al khobar|
+---------------+


 Product Categories Check:
+--------------------+
|    Product Category|
+--------------------+
|          automotive|
|      toys and games|
|        pet supplies|
|       girls fashion|
|         electronics|
|      womens fashion|
|        boys fashion|
|beauty and person...|
|        mens fashion|
|             luggage|
+--------------------+


 Unique City and Category Counts:
Unique Cities: 12
Unique Product Categories: 10

 Sample Review:
Displaying 10 random rows:
+------------+---------------+------------------------+-----------+-------------------+
|Invoice Date|City           |Product Category        |Total Sales|Week Start         |
+------------+---------------+------------------------+-----------+-------------------+
|2022-09-09  |arar           |luggage                 |218.0      |2022-09-05 00:00:00|
|2021-10-29  |medina         |mens fashion            |1071.0     |2021-10-25 00:00:00|
|2020-05-21  |wadi ad dawasir|womens fashion          |2262.0     |2020-05-18 00:00:00|
|2023-01-17  |wadi ad dawasir|luggage                 |3198.0     |2023-01-16 00:00:00|
|2020-11-18  |medina         |boys fashion            |1156.0     |2020-11-16 00:00:00|
|2020-04-01  |arar           |boys fashion            |4830.0     |2020-03-30 00:00:00|
|2020-12-07  |mecca          |toys and games          |4366.0     |2020-12-07 00:00:00|
|2021-12-03  |arar           |girls fashion           |5390.0     |2021-11-29 00:00:00|
|2023-08-23  |wadi ad dawasir|luggage                 |462.0      |2023-08-21 00:00:00|
|2022-04-24  |jeddah         |beauty and personal care|22.0       |2022-04-18 00:00:00|
+------------+---------------+------------------------+-----------+-------------------+


 Data Quality Checks Completed.

In [14]:
wrangler = wrangler.export_and_version_data()

Directory already exists: ../data/processed

Exporting the main processed DataFrame...
Main Data saved as: ../data/processed\main_data_v2.csv

Exporting the city-level weekly sales DataFrame...
City Weekly Sales saved as: ../data/processed\city_sales_weekly_v1.csv

Exporting the category-level weekly sales DataFrame...
Category Weekly Sales saved as: ../data/processed\category_sales_weekly_v1.csv

All exports completed successfully.

You can check the processed data here: ../data/processed